.wsite-section-wrap .wsite-section {
    vertical-align: middle;
}

wrap .container {
    padding: 60px 1.5em;
}

.wsite-multicol {
    position: relative;
    direction: ltr;
}

.wsite-multicol-table-wrap {
    margin: 0 -15px;
}

.wsite-multicol-table {
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.wsite-multicol-col {
    vertical-align: top;
    margin: 0 !important;
    border: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

