@use "./variables" as *;

// ===============================
// Reset CSS
// ===============================
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: $font-family;
  color: $text-color;
  background-color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// ===============================
// Typographie
// ===============================
a {
    text-decoration: none;
    color: $link-color;
    transition: color 200ms ease-in;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-title;
  font-weight: bold;
  color: $primary-color;
  margin: 0px;
  padding: 0px;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

ul, li {
    margin: 0px;
    padding: 0px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

// ===============================
// Layout global
// ===============================
.container {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
}

.wsite-section {
    display: table-cell;
    width: 100%;
    height: 230px;
}

.wsite-header-section {
    text-align: center;
}

.wsite-section-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.wsite-not-footer {
    text-align: left;
}

.wsite_spacer {
    height: 17px;
}

.wsite-multicol {
    position: relative;
    direction: ltr;
}

.wsite-multicol-table-wrap {
    margin: 0 -15px;
}

.wsite-multicol-table {
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.wsite-multicol-col {
    vertical-align: top;
    margin: 0 !important;
    border: 0 !important;
    padding: 0;
    box-sizing: border-box;
}




