.sub-banner {
    background-image: 
        linear-gradient(rgba(0,0,0,0.4)),
        url('/img/banner5.jpg');
    background-position: 50.0% 50%;
    height: 100px;
}

.sub-title {
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-size: 30px !important;
    display: block;
    line-height: 1.1;
    padding: 36px 0px !important;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}