.logo {
    text-align: center;  
    
}

.wsite-logo {
    display: inline-block;
}

#wsite-title {
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-size: 26px !important;
    display: block;
    max-width: 400px;
    line-height: 1.1;
    padding: 10px 0px !important;
    vertical-align: top;
}

