.top-spacer {
    height: 270px;
}

header {
    display: block;
    unicode-bidi: isolate;
}


.header {
    position: fixed; 
    z-index: 99999;
    left: 0px;
    top: 0px;
    height: 245px;
    right: 0px;
    background: white;
}


