@use "../styles/variables" as *;

// Le hamburger gère les 3 lignes en haut à droite pour les téléphones
// la classe navmobile-wrapper est en bas de page

.menu {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border-top: 1px solid rgba(116, 116, 116, 0.15);
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-right: 40px;
    padding: 7px 0px;
    position: relative;;
}

.menu a {
    color: rgb(59, 59, 59);
}

.wsite-menu-default a {
    font-family: $font-family-menu !important;
    font-weight: 400 !important;
    letter-spacing: 2px !important;
}

@media screen and (max-width: $breakpoint-tablet) {
    .wsite-menu-default a {
        font-size: 10px !important;
    }
}

.menu .wsite-menu-default li a {
    padding-bottom: 11px;
    letter-spacing: 0.03em;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s ease-in;
}

li#active a {
    border-bottom: 3px solid $link-color;
    position: relative;
}

.menu .wsite-menu-default li a:hover {
    border-bottom: 3px solid $link-color;
    position: relative;
}