.menu {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    border-bottom: 1px solid rgba(116, 116, 116, 0.15);
}

.container ul {
    list-style: none;
}

.menu > .container > ul > li {
    display: inline-block;
    margin-right: 40px;
    padding: 7px 0px;
    position: relative;;
}

.menu a {
    color: #0B586F;
}

.menu > .container > ul > li > a {
    font-weight: 400 !important;
    letter-spacing: 3px !important;
}

.wsite-menu-default > li > a {
    padding-bottom: 11px;
    letter-spacing: 0.03em;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s ease-in;
}

.menu > .container > ul > li#active > a {
    border-bottom: 3px solid ;
    border-color: #0B586F;
    position: relative;
}

.menu > .container > ul > li > a:hover {
    border-bottom: 3px solid ;
    position: relative;
}

.sub-menu {
    border-bottom: 2px solid ;
    border-color: #0B586F;
    position: absolute;
    pointer-events: all;
    border-radius: 9px;
    background: rgba(250, 250, 255, 0.8);
    left: -100px;
    top: 100%;
    //right: -150px;
    z-index: 999;
    backdrop-filter: blur(4px);
    list-style-type: none;
    display: none;
    padding: 15px;
    flex-flow: wrap;
    gap: 10px;
    width: 300px;
}

.menu-item {
    flex: 1 1 100%; //calc(50% - 20px);
    grid-template-rows: auto 0px;
    display: grid;
}

.wsite-menu-item:hover + .sub-menu {
    display: flex;
}

.sub-menu:hover {
  display: flex;
}


@media (pointer: fine) { // pas tactile
    .sub-menu.clicked:hover {
        display: none;
    }
}



.sub-menu > li > a {
    font-weight: 400;
    letter-spacing: 1px;
}


mat-icon {
  vertical-align: sub;
}

