<div [class]="commonService.isMobile() ? 'mobile-menu' : 'menu'">
    <div class="container">
        @if(commonService.isMobile()) {
            @if(hamburgerOn()) {
                <a class="hamburger" (click)="hamburgerOn.set(false)">
                    <mat-icon>close</mat-icon>
                </a>
            }
            @else {
                <a class="hamburger" (click)="hamburgerOn.set(true)">
                    <mat-icon>menu</mat-icon>
                </a>
            }
        }
        @if(!commonService.isMobile() || hamburgerOn()) {
            <ul [class]="commonService.isMobile() ? 'mobile-menu-container' : 'menu-container'">
                @for (m of service.menu; track m.id) {
                    <li [id]="activeMenu()==m.nb ? 'active' : ''">
                        <a [routerLink]="m.url" class="menu-item" (click)="changeMenu(m.nb)"><mat-icon>{{m.icon}}</mat-icon>{{m.label}}</a>
                        <!-- @if (m.subMenuItems) {
                            <ul [class]="commonService.isMobile() ? 'mobile-sub-menu' : 'sub-menu'" [class.clicked]="clicked()" (mouseover)="clicked.set(false)">
                                @for (sm of m.subMenuItems; track sm.id) {
                                    <li [class]="commonService.isMobile() ? 'mobile-sub-menu-item' : 'sub-menu-item'">
                                        <a [routerLink]="sm.url" [fragment]="sm.fragment" (click)="changeMenu(sm.nb)"><mat-icon>{{sm.icon}}</mat-icon>{{sm.label}}</a>
                                    </li>
                                }
                            </ul>
                        } -->
                    </li>
                }
            </ul>
        }
    </div>
</div>
