# /etc/systemd/system/gunicorn-restart.timer
[Unit]
Description=Restart gunicorn daily

[Timer]
OnCalendar=*-*-* 06:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target

# sudo systemctl daemon-reload
# sudo systemctl enable --now gunicorn-restart.timer