[Unit]
Description=Gunicorn FastAPI service
After=network.target

[Service]
User=cyrilvincent
Group=users
WorkingDirectory=/home/cyrilvincent/skema/web/back

ExecStart=/home/cyrilvincent/venv/bin/gunicorn \
    -k uvicorn.workers.UvicornWorker \
    api:app \
    --workers 1 \
    --bind 127.0.0.1:8000 \
    --timeout 300

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target