p, div.paragraph {
    line-height: 1.8em;
    text-align: center;
}

div.paragraph {
    line-height: 1.8em;
    margin: 0;
    padding: 0;
}

h2, .wsite-content-title, .paragraph {
    word-wrap: break-word;
}

p.bold {
    font-weight: bolder;
    font-size: medium;
}

.img-center {
    text-align: center;
    display: inline;
}

