<div [class.disabled]="disabled()">
    <mat-form-field class="example-full-width">
    <mat-label><mat-icon>medical_services</mat-icon> @if (type()=="APL") {Spécialité} @else {Type d'établissement} <mat-icon matTooltip="Choisir une profession ou un type d'établissement parmis la liste">help</mat-icon></mat-label>
    <mat-select [formControl]="specialiteControl" required>
        @for (p of specialites(); track p.id) {
            <mat-option [value]="p">{{p.label}}</mat-option>
        }
    </mat-select>
    </mat-form-field>
    <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title><mat-icon matTooltip="Paramètres avancés facultatifs">settings</mat-icon> Paramètres avancés</mat-panel-title>
        </mat-expansion-panel-header>
        <p><mat-icon>timer</mat-icon> Durée de trajet maximale: 
            <mat-button-toggle-group name="time" [formControl]="timeControl">
                <mat-button-toggle [value]="30">30 min</mat-button-toggle>
                <mat-button-toggle [value]="45">45 min</mat-button-toggle>
                <mat-button-toggle [value]="60">60 min</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-icon matTooltip="La durée de trajet est calculée entre le centre de l'iris de départ et le centre de l'iris de destination. Seules les durées inférieures à la durée maximale sont retenues. Sur cette durée sera appliquée une fonction de décroissance décrite ci dessous. La valeur conseillée est 30 minutes.">help</mat-icon>
        </p>
        @if(type()=="APL") {
            <p>
                <mat-icon>hourglass_empty</mat-icon> Calcul des durées:
                <mat-button-toggle-group name="hc" [formControl]="hcControl">
                    <mat-button-toggle value="HC">Heures creuses</mat-button-toggle>
                    <mat-button-toggle value="HP">Heures pleines</mat-button-toggle>
                </mat-button-toggle-group>
                <mat-icon matTooltip="La durée de trajet est calculée en heure creuse (heure normale) ou en heure pleine">help</mat-icon>
            </p>
            <p>
                <mat-icon>trending_down</mat-icon> Constante de la fonction de décroissance: 
                <mat-button-toggle-group name="exp" [formControl]="expControl">
                    <mat-button-toggle [value]="-0.12" [disabled]="isBlocked(-0.12)">-0.12</mat-button-toggle>
                    <mat-button-toggle [value]="-0.1" [disabled]="isBlocked(-0.1)">-0.10</mat-button-toggle>
                    <mat-button-toggle [value]="-0.08" [disabled]="isBlocked(-0.08)">-0.08</mat-button-toggle>
                    <mat-button-toggle [value]="-0.06" [disabled]="isBlocked(-0.06)">-0.06</mat-button-toggle>
                    <mat-button-toggle [value]="-0.04" [disabled]="isBlocked(-0.04)">-0.04</mat-button-toggle>
                </mat-button-toggle-group>
                <mat-icon matTooltip="La fonction de calcul de la décroissance du nombre d'établissement en fonction de la durée de trajet l'APL est f(time)=exp(c*time)*nb où time est la durée de trajet, nb le nombre de salarié ETP en cabinet et c la constante de la fonction exponentielle. Choisir une constante c petite amplifie la décroissance de la durée de trajet. Les valeurs conseillées pour un temps de trajet sont -0.12 pour 30 minutes, -0.08 pour 45 minutes et -0.06 pour 60 minutes.">help</mat-icon>
            </p>
        }
        <p>
            <mat-icon>high_quality</mat-icon> Résolution: 
            <mat-button-toggle-group name="resolution" [formControl]="resolutionControl">
                <mat-button-toggle value="HD" [disabled]="isResolutionBlocked('HD')">Haute</mat-button-toggle>
                <mat-button-toggle value="MD" [disabled]="isResolutionBlocked('MD')">Moyenne</mat-button-toggle>
                <mat-button-toggle value="LD" [disabled]="isResolutionBlocked('LD')">Basse</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-icon matTooltip="Résolution des coordonnées GPS. Pour les iris HD=50m, MD=1Km, LD=10km. Pour les communes HD=50m, MD=100m, LD=1km. Attention une résolution élevée augmente les volumes de transfert.">help</mat-icon>
        </p>
        <p>
            <mat-icon>aspect_ratio</mat-icon> Granularité géographique: 
            <mat-button-toggle-group name="granularite" [formControl]="geoTypeControl">
                <mat-button-toggle value="commune">Commune</mat-button-toggle>
                <mat-button-toggle value="iris">Iris</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-icon matTooltip="Visualisation au niveau communal ou infra communal (iris)">help</mat-icon>
        </p>
        <p>
        <mat-icon>grid_on</mat-icon> Rendu: 
            <mat-button-toggle-group name="render" [formControl]="renderTypeControl">
                <mat-button-toggle value="dataviz">Visualisation</mat-button-toggle>
                <mat-button-toggle value="csv">CSV</mat-button-toggle>
                <mat-button-toggle value="json">GEOJSON</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-icon matTooltip="Visualisation des données dans un graphique géographique ou téléchargement du CSV ou téléchargement du GEOJSON">help</mat-icon>
        </p>
    </mat-expansion-panel>
    </mat-accordion>
    <p>&nbsp;</p>
    <div class="center">
        <mat-slide-toggle [formControl]="toggleControl">Plein écran</mat-slide-toggle>
        <mat-icon matTooltip="Ouvre un nouvel onglet">help</mat-icon>
        <br>
        <button type="button" mat-fab extended (click)="buttonClicked()" [disabled]="geoService.loading()">
            <mat-icon>
                @if(geoService.loading()) {<mat-spinner diameter="25"></mat-spinner>}
                @else if(renderType()!="dataviz") {download}
                @else if(fullScreen()) {launch} @else {done}
            </mat-icon>
            @if(renderType()=="dataviz") {Afficher} @else {Télécharger} le résultat
        </button>
       
    </div>
</div>