<p>searchbox works!</p>
<p><mat-slide-toggle>Toggle me!</mat-slide-toggle></p>
<div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Commune, communauté de commune, département, région, code insee, code postal</mat-label>
            <input #input
                type="text"
                placeholder="Choisir un lieu"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
                autocomplete="off"
                >

            <mat-autocomplete  
                #auto="matAutocomplete"
                (optionSelected)="onSelected($event.option.value)"
                [displayWith]="displayTuple"
            >
                @for (option of options(); track option[0]) {
                    <mat-option [value]="option">{{option[1]}}</mat-option>
                }
                @if (!loading() && options().length === 0) {
                    <mat-option disabled>Aucun résultat</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <button (click)="okButton()">OK</button>
    <p>Text: {{input.value}}</p>
    <p>Selected: {{text()}}</p>
    <p>Selected by control: {{selectedId}}</p>
    
</div>
