.example-form {
  min-width: 150px;
  max-width: 1024px;
  width: 100%;
  margin-top: 16px;
}

.example-full-width {
  width: 100%;
}


.mat-autocomplete-panel {
  max-height: 512px !important; /* au lieu de 256px */
}
