<div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>
                <mat-icon>location_on</mat-icon>
                Commune, communauté de commune, département, région, code insee, code postal  
                <mat-icon matTooltip="Choisir une commune, communauté de commune, département ou région en saisissant un nom, un code insee ou un code postal puis en sélectionnant la bonne valeur">help</mat-icon>
                
            </mat-label>   
            <input #input
                type="text"
                placeholder="Choisir un lieu"
                matInput
                [formControl]="searchControl"
                [matAutocomplete]="auto"
                autocomplete="off"
                required
            >
            <a (click)="input.value=''" matSuffix matTooltip="Effacer"><mat-icon>close</mat-icon> </a>
            <mat-autocomplete  
                #auto="matAutocomplete"
                (optionSelected)="onSelected($event.option.value)"
                [displayWith]="displayTuple"
                autoActiveFirstOption   
            >
                @for (option of options(); track option[0]) {
                    <mat-option [value]="option">
                        <span>{{option[1]}}</span> |
                        <small>{{displayCode(option[0])}}</small>
                    </mat-option>
                }
                <!-- @if (!searchLoading() && options().length === 0) {
                    <mat-option disabled>Aucun résultat</mat-option>
                } -->
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
