@use "../styles/variables" as *;

.banner-wrap {
    position: relative;
}

.wsite-not-footer {
    text-align: left;
}

.wsite-section-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.wsite-header-section::before, .splash-page .header-wrap::before {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    height: inherit;
    content: "";
    background: rgba(0, 0, 0, 0.2);
}

.wsite-header-section {
    position: relative;
}

.wsite-section-wrap .wsite-section {
    vertical-align: middle;
    height: 306px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;

    @media (max-width: $breakpoint-tablet) {
        height: 100px;
        display: block;
    }

}

.banner-wrap .banner {
    display: table-cell;
    padding: 0;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    padding: 80px 0;

    @media (max-width: $breakpoint-tablet) {
        padding: 30px 0;
    }   
}

h2, .wsite-content-title, .paragraph {
    word-wrap: break-word;
    padding-bottom: 10px;
    letter-spacing: 5px !important;
}

@media screen and (min-width: $breakpoint-tablet) {
    .wsite-headline, .wsite-header-section .wsite-content-title {
        font-size: 55px !important;
    }
}

.banner-wrap .banner h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: normal;
}

.banner-wrap .container {
    position: relative;
    display: table;
    height: 100%;
}

