
.banner {
    height: 200px;
    background-position: right 0% top 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 1;
}

.mobile-banner {
    height: 100px;
    background-position: 90.0% 10%;
    //background-image: linear-gradient(rgba(0,0,0,0.4)), url('/img/banner.jpg')
}

.logo {
    text-align: center;  
    height: 120px;
}

.skema {
    background-position: 20px 70px;
    background-repeat: no-repeat;
    background-size: 180px;
}

.mobile-skema {
    background-position: left 1px top 40px;
    background-repeat: no-repeat;
    background-size: 70px;
}

.univ {
    background-position: right 10px top 65px;
    background-repeat: no-repeat;
    background-size: 240px;
}

.mobile-univ {
    background-position: right 1px top 40px;
    background-repeat: no-repeat;
    background-size: 70px;
}

.logo-block {
    display: inline-block;
}


.title {
    text-transform: uppercase !important;
    letter-spacing: 4px;
    font-size: 35px;
    display: block;
    max-width: 470px;
    line-height: 1.1;
    padding: 60px 0px !important;
    color:#00283F;
    font-weight: 1000;
    //font-family: 'Patua One';
}

.mobile-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    display: block;
    max-width: 300px;
    padding: 25px 0px;
    color: #00283F;
    font-weight: 1000;
}

